* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #111111;
  --second-bg-color: #151515;
  --text-color: white;
  --main-color: #04fffb;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem 9%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar a {
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  border-color: 3px solid var(--main-color);
}

#menu_icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 10rem;
}

/* Home */

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.home-content {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  /* text-align: center; */
  margin-top: 3rem;
}

span {
  color: var(--main-color);
}

.logo span {
  color: var(--main-color);
}

.home-content h3 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3.5rem;
}

.home-content h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.home-content h2 {
  font-size: 3.5rem;
  margin-top: 1.5rem;
  line-height: 1;
}

.home-img {
  border-radius: 70%;
}

.home-img img {
  position: relative;
  top: 3rem;
  max-width: 22vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  height: auto;
  filter: brightness(60%);
}

.home-img img:hover {
  box-shadow: 0 0 50px var(--main-color), 0 0 100px var(--main-color);
}

.home-content p {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  max-width: 750px;
  color: rgb(171, 168, 168);
}

.social-icons a img {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease-in-out;
}

.social-icons a img:hover {
  color: white;
  transform: scale(1.3) translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  cursor: pointer;
  width: 150px;
  margin: 3rem 0;
}

.btn button {
  background-color: transparent;
  font-size: 1.6rem;
  color: white;
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}

.text-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.text-animation span {
  position: relative;
}

.text-animation span::before {
  content: "Web Developer";
  color: var(--main-color);
  animation: wordss 20s infinite;
}

.text-animation span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100%+8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid var(--main-color);
  }
}

@keyframes wordss {
  0%,
  20% {
    content: "Web Developer";
  }
  21%,
  40% {
    content: "Graphic Designer";
  }
  41%,
  60% {
    content: "UI / UX Designer";
  }
  61%,
  80% {
    content: "Content Manager";
  }
  81%,
  100% {
    content: "Software Tester";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

/* Family */

.family {
  margin-top: 50px;
  display: flex;
  text-align: center;
}

.family h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 5rem;
  text-align: center;
}

.family-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  padding: 5px;
  row-gap: 40px;
}

.family-member {
  flex: 1 1 30%;
  border: none;
}

.family-member img {
  max-width: 22vw;
  height: auto;
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 5%;
}

.family-member img:hover {
  box-shadow: 0 0 50px var(--main-color);
}

.family-member h3 {
  margin-top: 10px;
  font-size: 13px;
}

.family p {
  margin-top: 50px;
  font-size: 2.9rem;
  font-weight: 600;
  color: rgb(171, 168, 168);
}

/* Education */

.education {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  text-align: center;
  gap: 100px;
}

.education h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}

.education-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Education First */

.education-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.education-first img {
  max-width: 30vw;
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 10%;
  filter: brightness(90%);
}

.education-first img:hover {
  box-shadow: 0 0 50px var(--main-color), 0 0 100px var(--main-color);
}

.education-item {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 40px;
  max-width: 700px;
}

.education-item h2 {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(171, 168, 168);
}

.education-item h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

.education-item p {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(171, 168, 168);
}

/* Education Second */

.education-second {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.education-item {
  display: flex;
  flex-direction: column;
  /* text-align: end; */
}

.description {
  text-align: end;
}

table {
  width: 500px;
  border-collapse: collapse;
  margin: 20px 0;
}
th,
td {
  border: 3px solid rgb(34, 34, 34);
  padding: 8px;
  text-align: left;
}

.education-end p {
  margin-top: 50px;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(171, 168, 168);
}

/* Hobbies */

.hobby-content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
}

.hobby-content h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}

.hobby-items {
  margin: 0 110px 0 110px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 300px;
  /* box-shadow: 0 4px 8px rgba(222, 221, 221, 0.1); */
  box-shadow: 0 4px 8px var(--main-color);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.1) translateY(-10px);
  box-shadow: 0 16px 32px var(--main-color);
}

.card-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-text {
  padding: 15px;
  background: transparent;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.card-text h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.card-text p {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(171, 168, 168);
}

/* Contact */

.map-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
}

.map-content h1 {
  font-size: 5rem;
  font-weight: 700;
}

.map-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.map-image {
}
